# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.idea/
*.iml

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.tox/
lib/
lib64/
bin/
include/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
pip-selfcheck.json
cmd.sh
report.xml
MANIFEST